*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
../info.json
../info_common.json
info.json
info_common.json
/*/mirror
/*/build
app.iml
/.idea/workspace.xml
/.idea/libraries
R.java
